Django==6.0.4
django-cors-headers==4.9.0
django-unfold==0.92.0
djangorestframework==3.17.1
drf-spectacular==0.29.0
gunicorn==25.3.0
nh3==0.3.5
psycopg[binary]==3.3.3
python-dotenv==1.2.2
requests==2.33.1
whitenoise==6.12.0
